<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.soa_arah">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sa"
        android:label="سُعرة"
        android:roundIcon="@mipmap/sa"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".home_page_guest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <service
            android:name="zoftino.com.firebase.fcm.DealsMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <uses-permission
            android:name="android.permission.SEND_SMS"
            tools:ignore="WrongManifestParent" />

        <activity android:name=".home_page_register" />
        <activity android:name=".Registration" />
        <activity android:name=".view_account_register" />
        <activity android:name=".edit_account_register" />
        <activity android:name=".LoginPage" />
        <activity android:name=".home_page_IT_admin" />
        <activity android:name=".ActivityPhoneAuth" />
        <activity android:name=".searchByName" />
        <activity android:name=".Barcode" />
        <activity android:name=".view_request" />
        <activity android:name=".view_info_request" />
        <activity android:name=".view_info_request_Barcode" />
        <activity android:name=".home_page_Nutrition_admin" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".barcodeInfo" />
        <activity android:name=".RequestByName" />
        <activity android:name=".Request_page" />
        <activity android:name=".account_Nutrition_admin" />
        <activity android:name=".RequestByBarcode" />
        <activity android:name=".Baecode_Request" />
        <activity android:name=".Barcode_Request" />
        <activity android:name=".searchByKeyword" />
        <activity android:name=".diet_plan" />
        <activity android:name=".completDietplan" />
        <activity android:name=".maxminDietplan"></activity>
        <receiver android:name=".AlarmReceiver">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>