<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.soa_arah">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sa"
        android:label="سُعرة"
        android:roundIcon="@mipmap/sa"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".home_page_guest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-permission android:name="android.permission.SEND_SMS"
            tools:ignore="WrongManifestParent" />

        <activity android:name=".home_page_register" />
        <activity android:name=".Registration" />
        <activity android:name=".view_account_register" />
        <activity android:name=".LoginPage" />
        <activity android:name=".home_page_IT_admin" />
        <activity android:name=".ActivityPhoneAuth" />
        <activity android:name=".searchByName" />

        <activity android:name=".home_page_Nutrition_admin"></activity>
    </application>

</manifest>